.mainSobreNosotros{
    margin-top:180px;
    
    p {
        font-size: 1.5rem;
        height: 250px;
        width: 380px;
        margin-top: 15px;
    }
    img {
        height: 380px;
        width: 380px;
        border-radius: $img-radius;  
    }
    .sobreNosotros-1, .sobreNosotros-2 {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content:center;
    }
}