.sucursal {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    margin: 100px;
    
    h2 {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    img {
        width: 600px;
        height: 550px
    }
    p {
        font-size: 2rem;
        margin-top: 10px;
        display: grid;
        justify-content: center;
    }
}