/* Small devices (landscape phones, 300px and up) */
@media (min-width: 300px) {
    .sobreNosotros-1 {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;

    }
    p {
        font-size: 1rem;
    }

    main h2{
        font-size: 1rem;
    }
    .productosSection {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
    .sucursal {
        img {
            height: 250px;
            width: 250px;   
        }
        
    }  
    .brands {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        font-size: 3rem;
        margin-bottom: 250px;
    }
    .containerIndxTwo {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: start;
        width: 150px;
        
        
    }
    .containerIndxTwo p h1 button{
        width: 70%;
        margin-left: 50px;
        font-size: .5rem;
        
    }
    .containerIndxTwo h2 {
        font-size: 1rem;
    }
    .containerImg img {
        width: 200px;
        height: 125px;
    }
}

@media (min-width: 1200px) {
    .containerIndxTwo {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin-top: 200px;
        gap: 1rem;

        p {
            width: 400px;
            height: 400px
        }
        button {
            margin-top:30px
        }
        .containerImg {
            width: 400px;
            height: 250px;
        }
    }
    .brands {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }
    h2 {
        font-size: 2rem;
    }
}